<div class="row">
    <div ng-repeat="character in characters" class="col-lg-2">
        <img class="svg-fullscreen" src={{character.ImageUrl}} />
        <h1>{{character.Name}}</h1>
    </div>
</div>
